.why-us {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
  }
  
  .why-us h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .why-us p {
    font-size: 18px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .why-us .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .why-us .feature {
    width: 300px;
    margin: 20px;
    text-align: left;
  }
  
  .why-us .feature h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .why-us .feature p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .he {
    height: 50px;
    width: 50px;
  }
  